<context id="ParkingLot" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	
  	<context id="RoadContext">
		<projection type="geography" id="RoadGeography"></projection>
	</context>
  	<projection type="geography" id="MainGeogrpahy"></projection>
  	
</context>
